absl-py==2.1.0
aider-chat==0.63.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiohttp_socks==0.9.0
aiolimiter==1.1.0
aioresponses==0.7.6
aiosignal==1.3.1
alabaster==1.0.0
altair==5.4.1
annotated-types==0.7.0
anthropic==0.28.1
anyio==4.6.2.post1
apispec==6.6.1
appnope==0.1.4
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
asyncio==3.4.3
attrs==24.2.0
Authlib==1.3.2
autogen==0.3.1
AutoRAG==0.3.10
azure-ai-inference==1.0.0b6
azure-cognitiveservices-speech==1.41.1
azure-core==1.32.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==6.2.0
blessed==1.20.0
blinker==1.9.0
blis==0.7.11
bm25s==0.2.4
bokeh==3.6.1
boto3==1.35.35
botocore==1.35.35
bottle==0.13.2
Brotli==1.1.0
browser-cookie3==0.19.1
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.0
cachelib==0.9.0
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.7.1
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.20
click==8.1.7
cloudpathlib==0.19.0
cloudscraper==1.2.71
cohere==5.11.3
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
ConfigArgParse==1.7
contourpy==1.3.0
couchbase==4.3.3
cramjam==2.9.0
cryptography==43.0.1
cssselect2==0.7.0
curl-cffi==0.5.9
cycler==0.12.1
cymem==2.0.8
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
datasets==3.1.0
debugpy==1.8.7
decorator==4.4.2
deep-translator==1.11.4
deepsearch-glm==0.26.1
defusedxml==0.7.1
Deprecated==1.2.14
diagrams==0.24.1
diff-match-patch==20241021
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
Django==5.1.1
dnspython==2.6.1
docker==7.1.0
docling==2.4.0
docling-core==2.3.1
docling-ibm-models==2.0.3
docling-parse==2.0.2
docstring-parser==0.15
docutils==0.21.2
docx==0.2.4
duckduckgo_search==6.3.2
dukpy==0.4.0
durationpy==0.9
easyocr==1.7.2
editor==1.6.6
einops==0.8.0
email_validator==2.2.0
emoji==2.14.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
encodec==0.1.1
environs==9.5.0
errant==3.0.0
et_xmlfile==2.0.0
eval_type_backport==0.2.0
evaluate==0.4.3
executing==2.1.0
fastapi==0.115.5
fastapi-cli==0.0.5
fastavro==1.9.7
fastparquet==2024.11.0
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
firebase-admin==6.5.0
flake8==7.1.1
FLAML==2.3.1
Flask==3.1.0
Flask-AppBuilder==4.5.1
Flask-Babel==2.0.0
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.8.0
Flask-Login==0.6.3
flask-maker==3.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.9.0
funcy==2.0
futures==3.0.5
fuzzywuzzy==0.18.0
g4f==0.3.3.0
gingerit==0.0.0.1
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
goldenverba==2.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.7.2
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
googletrans==3.1.0a0
goslate==1.5.4
gpt-humanizer==0.0.6
gradio==5.4.0
gradio_client==1.4.2
gramformer @ git+https://github.com/PrithivirajDamodaran/Gramformer.git@23425cd2e98a919384cab6156af8adf1c9d0639a
grammatical==0.2.1
graphviz==0.20.3
greenlet==3.1.1
grep-ast==0.3.3
groq==0.10.0
grpcio==1.67.1
grpcio-health-checking==1.62.3
grpcio-status==1.62.3
grpcio-tools==1.62.3
gspread==6.1.4
gTTS==2.5.3
gunicorn==22.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.11.1
html2image==2.0.5
html2text==2024.2.26
httpcore==0.9.1
httplib2==0.22.0
httpretty==1.1.4
httptools==0.6.4
httpx==0.13.3
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
Hypercorn==0.17.3
hyperframe==5.2.0
identify==2.6.1
idna==2.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
importlib_metadata==7.2.1
importlib_resources==6.4.5
indic-nlp-library==0.92
iniconfig==2.0.0
inquirer==3.4.0
instructor==0.6.8
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
ipywidgets_bokeh==1.6.0
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.7.1
jmespath==1.0.1
joblib==1.4.2
json5==0.9.28
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.4.7
kubernetes==31.0.0
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.21
langchain-openai==0.2.3
langchain-text-splitters==0.3.2
langchain-unstructured==0.1.6
langchain-upstage==0.3.0
langcodes==3.4.0
langsmith==0.1.137
language_data==1.2.0
language_tool_python==2.8.1
lazy_loader==0.4
Levenshtein==0.25.1
lightgbm==4.5.0
limits==3.13.0
linkify-it-py==2.0.3
litellm==1.52.8
llama-cloud==0.1.5
llama-index==0.11.22
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.23
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.6.0
llama-index-legacy==0.9.48.post4
llama-index-llms-anthropic==0.2.1
llama-index-llms-bedrock==0.2.6
llama-index-llms-openai==0.2.16
llama-index-llms-openai-like==0.2.0
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-index-retrievers-bm25==0.4.0
llama-parse==0.5.15
llvmlite==0.43.0
loguru==0.7.2
lxml==4.9.4
lz4==4.3.3
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.13.1
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==0.28.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mean-average-precision==2021.4.26.0
milvus-lite==2.4.10
mixedbread-ai==2.2.6
mixpanel==4.10.1
mmh3==5.0.1
monotonic==1.6
more-itertools==10.5.0
Morfessor==2.0.6
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.10
mutf8==1.0.6
mypy-extensions==1.0.0
narwhals==1.10.0
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
ollama==0.3.2
onnxruntime==1.19.2
open-interpreter==0.4.3
openai==0.28.0
openai-whisper==20240930
OpenAIAuth==3.0.0
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
ordered-set==4.1.0
orjson==3.10.10
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
panel==1.5.4
param==2.1.1
parameterized==0.9.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
pinecone==5.4.0
pinecone-plugin-inference==2.0.1
pinecone-plugin-interface==0.0.7
platformdirs==4.2.2
plotly==5.24.1
pluggy==1.5.0
plyer==2.1.0
portalocker==3.0.0
posthog==3.7.0
pre_commit==4.0.1
preshed==3.0.9
primp==0.6.4
priority==2.0.0
prison==0.2.1
proglog==0.1.10
prompt_toolkit==3.0.48
propcache==0.2.0
proselint==0.14.0
proto-plus==1.25.0
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
proxy_tools==0.1.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
PyDictionary==2.0.1
pydub==0.25.1
PyExecJS==1.5.1
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.9.0
pymilvus==2.4.9
PyMuPDF==1.24.11
pyngrok==7.2.1
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-WebKit==10.3.1
pypandoc==1.14
pyparsing==3.2.0
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks==1.7.1
PyStemmer==2.2.0.3
pytest==8.3.3
python-bidi==0.6.3
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-multipart==0.0.12
python-pptx==1.0.2
python-slugify==8.0.4
python-socks==2.5.3
python-Wappalyzer==0.3.1
pytz==2024.1
pyviz_comms==3.0.3
pywebview==5.3
PyYAML==6.0.2
pyzmq==26.2.0
Quart==0.19.9
quickjs==1.19.4
rank-bm25==0.2.2
rapidfuzz==3.9.7
re_gpt==4.0.0
readchar==4.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
revChatGPT==6.8.6
rfc3986==1.5.0
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.21.0
rsa==4.9
Rtree==1.3.0
ruff==0.7.1
runs==1.2.2
s3transfer==0.10.2
sacrebleu==2.4.3
safehttpx==0.1.1
safetensors==0.4.4
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
selenium==4.25.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==74.0.0
shapely==2.0.6
shell_gpt==1.4.4
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.1.3
sphinx-argparse==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.53
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.1
srsly==2.4.8
stack-data==0.6.3
starlette==0.41.3
streamlit==1.39.0
streamlit-card==1.0.2
striprtf==0.0.26
suno-bark @ git+https://github.com/suno-ai/bark.git@f4f32d4cd480dfec1c245d258174bc9bde3c2148
swarm @ git+https://github.com/openai/swarm.git@9db581cecaacea0d46a933d6453c312b034dbf47
sympy==1.13.2
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.3.0
text-unidecode==1.3
textblob==0.18.0.post0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tinycss2==1.3.0
tls-client==1.0.1
tokenizers==0.19.1
tokenlog==0.0.2
tokentrim==0.1.13
toml==0.10.2
tomlkit==0.12.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
transformers==4.44.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
trio==0.27.0
trio-websocket==0.11.1
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
ujson==5.10.0
unstructured-client==0.27.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.29.0
uvloop==0.21.0
validators==0.33.0
vercel-llm-api==0.3.1
virtualenv==20.26.3
voyageai==0.3.1
wasabi==1.1.2
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.4.1
weaviate-client==4.7.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wget==3.2
wheel==0.44.0
whisper==1.1.10
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.1.2
XlsxWriter==3.2.0
xmod==1.8.1
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.17.1
yaspin==3.1.0
you-get==0.4.1730
yt-dlp==2024.11.18
zipp==3.21.0
